@font-face {
  font-family: 'Mohave-Bold';
  src: url('/Mohave-Typefaces/Mohave-Bold.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave-Bold.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave-Bold.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
  font-family: 'Mohave';
  src: url('/Mohave-Typefaces/Mohave.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'); /* Legacy iOS */
}

html, body {
  width: 100%;
}

a {
  font-family: 'Mohave', 'Roboto', sans-serif;
}

body {
  margin: auto;
  padding-top: 50px;
}

img {
  max-width: 100%;
}

td:nth-child(2) {
  padding-right: 20px;
}

.centered-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.description {
  font-family: 'Roboto', sans-serif;
}

.footer {
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#2d2d2d 0,#151515 100%);
}

.footer-text {
  font-family: 'Mohave', 'Roboto', sans-serif;
  text-align: center;
}

.general-header {
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
}

.jumbotron {
  background-size: cover;
  background-image: url("/images/20170421_1646551.jpg");
  background-position: center center;
  height: 800px;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  width: 100%;
}

.page-description {
  color: White;
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
  text-align: center;
}

.page-title {
  color: White;
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
  padding-bottom: 50px;
  text-align: center;
}
.spacer {
  background-image: linear-gradient(to bottom,#3c3c3c,#222 100%);
  background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
  background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
  font-family: 'Mohave', 'Roboto', sans-serif;
}

.theme-dropdown .dropdown-menu {
  display: block;
  margin-bottom: 20px;
  position: static;
}
