html, body {
    width: 100%;
}

body {
    margin: auto;
}

img { 
    max-width: 100%;
}
.page-title {
   color: White;
   text-align: center;
}

.page-description {
  color: White;
  text-align: center;
  margin: 55px;
  font-family: 'Roboto', sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.jumbotron {
  background-image: url("/images/20170421_1646551.jpg");
  height: 700px;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

.sponsors {
    text-align: center;
}

.centered-sponsors {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

td:nth-child(2) {
    padding-right: 20px;
}

