.page-title {
   text-align: center;
}

.page-description {
  text-align: center;
  margin: 55px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

   
