html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  }

body { 
  font-family: 'Roboto', sans-serif;
  background-image:
url(https://github.com/6504/6504.github.io/blob/master/JagBot%206504%20%40%202017%20FRC%20-%20078.JPG);
  background-position: center-top;
  background size: cover;
  margin: 0;
}

h1 {
  font-family: 'Roboto', serif;
  text-align: center;
}

h2 {
  font-family: 'Roboto', serif;
  text-align: center;
}
