html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  }

body { 
  background-image: url("/images/JagBot 6504 @ 2017 FRC - 078.JPG");
  background-repeat: repeat-x;
  font-family: 'Roboto', serif;
}

.page-title {
  text-align: center;
  font-weight: 100;
  color: white;
}

