@font-face {
    font-family: 'Mohave-Bold';
    src: url('/Mohave-Typefaces/Mohave-Bold.otf'); /* IE9 Compat Modes */
    src: url('/Mohave-Typefaces/Mohave-Bold.otf?#iefix') format('opentype'), /* IE6-IE8 */
         url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Super Modern Browsers */
         url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Pretty Modern Browsers */
         url('/Mohave-Typefaces/Mohave-Bold.otf')  format('opentype'), /* Safari, Android, iOS */
         url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
    font-family: 'Mohave';
    src: url('/Mohave-Typefaces/Mohave.otf'); /* IE9 Compat Modes */
    src: url('/Mohave-Typefaces/Mohave.otf?#iefix') format('opentype'), /* IE6-IE8 */
         url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Super Modern Browsers */
         url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Pretty Modern Browsers */
         url('/Mohave-Typefaces/Mohave.otf')  format('opentype'), /* Safari, Android, iOS */
         url('/Mohave-Typefaces/Mohave.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
    font-family: 'Mohave-SemiBold';
    src: url('/Mohave-Typefaces/Mohave-SemiBold.otf'); /* IE9 Compat Modes */
    src: url('/Mohave-Typefaces/Mohave-SemiBold.otf?#iefix') format('opentype'), /* IE6-IE8 */
         url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Super Modern Browsers */
         url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Pretty Modern Browsers */
         url('/Mohave-Typefaces/Mohave-SemiBold.otf')  format('opentype'), /* Safari, Android, iOS */
         url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'); /* Legacy iOS */
}

html, body {
    width: 100%;
}

body {
    padding-top: 50px;
    margin: auto;
}

img {
    max-width: 100%;
}

a {
    font-family: 'Mohave', 'Roboto', sans-serif;
    color: black;
}

a:hover {
  color:black;
  text-decoration: none;
}

.page-title {
   color: White;
   text-align: center;
   padding-bottom: 50px;
   font-family: 'Mohave-Bold', 'Roboto', sans-serif;
}

.page-description {
  color: White;
  text-align: center;
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.jumbotron {
  background-image: url("/team/images/background1.jpg");
  height: 700px;
  text-align: center;
  background-position: center center;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.centered-content {
    font-family: 'Mohave-Bold', 'Roboto', sans-serif;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.spacer {
    font-family: 'Mohave', 'Roboto', sans-serif;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c,#222 100%)
}

.footer {
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#2d2d2d 0,#151515 100%);
}

.sponsors {
    font-family: 'Mohave', 'Roboto', sans-serif;
    text-align: center;
}

.centered-sponsors {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

td:nth-child(3) {
    padding-right: 20px;
}

.presheading {
    padding-top: 50px;
}

.name {
    font-family: 'Mohave-Bold', 'Roboto', sans-serif;
}

.occupation {
    font-family: 'Mohave-SemiBold', 'Roboto', sans-serif;
}

.caption {
    font-family: 'Roboto', sans-serif;
}

.quote {
    font-family: 'Mohave', 'Roboto', sans-serif;
}
