@font-face {
  font-family: 'Mohave';
  src: url('/Mohave-Typefaces/Mohave.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
  font-family: 'Mohave-SemiBold';
  src: url('/Mohave-Typefaces/Mohave-SemiBold.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave-SemiBold.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'); /* Legacy iOS */
}

html, body {
  width: 100%;
}

a {
  font-family: 'Mohave', 'Roboto', sans-serif;
}

body {
  margin: auto;
  padding-top: 50px;
}

img {
  max-width: 100%;
}

td:nth-child(2) {
  padding-right: 20px;
}

.calendar {
  height: 0;
  margin-top: 16px;
  margin-bottom: 20px;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.calendar iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.centered-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer {
  background-image: -webkit-linear-gradient(top,#3e3e3e 0,#060606 100%);
  background-image: -o-linear-gradient(top,#3e3e3e 0,#060606 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3e3e3e),to(#060606));
  background-image: linear-gradient(to bottom,#3e3e3e 0,#060606 100%);
}

.footer-text {
  font-family: 'Mohave-SemiBold', 'Roboto', sans-serif;
  text-align: center;
}

/*.jumbotron {
  background-image: url("/images/JagBot 6504 @ 2017 FRC - 078.JPG");
  padding-bottom: 200px;
  padding-top: 100px;
  text-align: center;
}

.page-description {
  color: White;
  text-align: center;
}

.page-title {
   color: White;
   text-align: center;
} */

.spacer {
  background-image: linear-gradient(to bottom,#505050,#252525 100%);
  background-image: -o-linear-gradient(top,#505050 0,#252525 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#505050),to(#252525));
  background-image: -webkit-linear-gradient(top,#505050 0,#252525 100%);
}

.theme-dropdown .dropdown-menu {
  display: block;
  margin-bottom: 20px;
  position: static;
}
