@font-face {
  font-family: 'Mohave';
  src: url('/Mohave-Typefaces/Mohave.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
  font-family: 'Mohave-Bold';
  src: url('/Mohave-Typefaces/Mohave-Bold.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave-Bold.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave-Bold.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
  font-family: 'Mohave-SemiBold';
  src: url('/Mohave-Typefaces/Mohave-SemiBold.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave-SemiBold.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'); /* Legacy iOS */
}

html, body {
  width: 100%;
}

a {
  font-family: 'Mohave', 'Roboto', sans-serif;
}

body {
  margin: auto;
  padding-top: 50px;
}

img {
  max-width: 100%;
}

td:nth-child(3) {
  padding-right: 20px;
}

.centered-content {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.competition {
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
}

.date {
  font-family: 'Mohave-SemiBold', 'Roboto', sans-serif;
}

.description {
  font-family: 'Roboto', sans-serif;
}

.footer {
  background-image: -webkit-linear-gradient(top,#3e3e3e 0,#060606 100%);
  background-image: -o-linear-gradient(top,#3e3e3e 0,#060606 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3e3e3e),to(#060606));
  background-image: linear-gradient(to bottom,#3e3e3e 0,#060606 100%);
}

.footer-text {
  font-family: 'Mohave-SemiBold', 'Roboto', sans-serif;
  text-align: center;
}

.general-header {
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
  text-align: center;
}

.jumbotron {
  background-image: url("/robots/images/6504 @ FRC 2018 - Pit Crew.jpg");
  background-size: cover;
  background-position: center center;
  height: 800px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  width: 100%;
}

.page-description {
  color: White;
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
  text-align: center;
}

.page-title {
  color: White;
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
  padding-bottom: 50px;
  text-align: center;
}

.spacer {
  background-image: linear-gradient(to bottom,#505050,#252525 100%);
  background-image: -o-linear-gradient(top,#505050 0,#252525 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#505050),to(#252525));
  background-image: -webkit-linear-gradient(top,#505050 0,#252525 100%);
  margin-top: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
