@font-face {
  font-family: 'Mohave';
  src: url('/Mohave-Typefaces/Mohave.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
  font-family: 'Mohave-Bold';
  src: url('/Mohave-Typefaces/Mohave-Bold.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave-Bold.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave-Bold.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
  font-family: 'Mohave-SemiBold';
  src: url('/Mohave-Typefaces/Mohave-SemiBold.otf'); /* IE9 Compat Modes */
  src: url('/Mohave-Typefaces/Mohave-SemiBold.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Super Modern Browsers */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Pretty Modern Browsers */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf')  format('opentype'), /* Safari, Android, iOS */
       url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'); /* Legacy iOS */
}

html, body {
  width: 100%;
}

a {
  font-family: 'Mohave', 'Roboto', sans-serif;
}

body {
  margin: auto;
  padding-top: 50px;
}

img {
  max-width: 100%;
}

td:nth-child(3) {
  padding-right: 20px;
}

.centered-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer {
  background-image: -webkit-linear-gradient(top,#3e3e3e 0,#060606 100%);
  background-image: -o-linear-gradient(top,#3e3e3e 0,#060606 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3e3e3e),to(#060606));
  background-image: linear-gradient(to bottom,#3e3e3e 0,#060606 100%);
}

.footer-text {
  font-family: 'Mohave-SemiBold', 'Roboto', sans-serif;
  text-align: center;
}

.jumbotron {
  background-image: url("/about/images/6504 @ FRC 2017 - CarryRobot.JPG");
  background-position: center center;
  background-size: cover;
  height: 800px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  width: 100%;
}

.page-description {
  color: White;
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
  text-align: center;
}

.page-title {
  color: White;
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
  padding-bottom: 50px;
  text-align: center;
}

.theme-dropdown .dropdown-menu {
  display: block;
  margin-bottom: 20px;
  position: static;
}

.spacer {
  background-image: linear-gradient(to bottom,#505050,#252525 100%);
  background-image: -o-linear-gradient(top,#505050 0,#252525 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#505050),to(#252525));
  background-image: -webkit-linear-gradient(top,#505050 0,#252525 100%);
  margin-top: 20px;
}

/* Timeline CSS */
h1, h2, h3 {
  font-weight: 300;
}

 /*.container {
  padding: 1em;
} */

.timeline {
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  overflow: auto;
}
.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  background: #dddddd;
  left: 0;
}
.timeline h2 {
  background: #dddddd;
  max-width: 6em;
  margin: 0 auto 1em;
  padding: 0.5em;
  text-align: center;
  position: relative;
  clear: both;
}
.timeline ul {
  list-style: none;
  padding: 0 0 0 1em;
  z-index: 1;
}
.timeline li {
  background: #dddddd;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
.timeline li:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid #dddddd;
  border-left: 1em solid transparent;
  position: absolute;
  left: -1em;
  top: 0;
}
.timeline h3 {
  margin-top: 0;
}
.timeline time {
  font-style: italic;
}

@media screen and (min-width: 40em) {
  .timeline {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .timeline:before {
    left: 50%;
  }
  .timeline ul {
    padding-left: 0;
    max-width: 700px;
    margin: 0 auto;
  }
  .timeline li {
    width: 42%;
  }
  .timeline li:nth-child(even) {
    float: right;
    margin-top: 2em;
  }
  .timeline li:nth-child(odd) {
    float: left;
  }
  .timeline li:nth-child(odd):before {
    border-top: 1em solid #dddddd;
    border-right: 1em solid transparent;
    right: -1em;
    left: auto;
  }
  .timeline li:nth-of-type(2n+1) {
    clear: both;
  }
}
