@font-face {
    font-family: 'Mohave-Bold';
    src: url('/Mohave-Typefaces/Mohave-Bold.otf'); /* IE9 Compat Modes */
    src: url('/Mohave-Typefaces/Mohave-Bold.otf?#iefix') format('opentype'), /* IE6-IE8 */
         url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Super Modern Browsers */
         url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'), /* Pretty Modern Browsers */
         url('/Mohave-Typefaces/Mohave-Bold.otf')  format('opentype'), /* Safari, Android, iOS */
         url('/Mohave-Typefaces/Mohave-Bold.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
    font-family: 'Mohave';
    src: url('/Mohave-Typefaces/Mohave.otf'); /* IE9 Compat Modes */
    src: url('/Mohave-Typefaces/Mohave.otf?#iefix') format('opentype'), /* IE6-IE8 */
         url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Super Modern Browsers */
         url('/Mohave-Typefaces/Mohave.otf') format('opentype'), /* Pretty Modern Browsers */
         url('/Mohave-Typefaces/Mohave.otf')  format('opentype'), /* Safari, Android, iOS */
         url('/Mohave-Typefaces/Mohave.otf') format('opentype'); /* Legacy iOS */
}

@font-face {
    font-family: 'Mohave-SemiBold';
    src: url('/Mohave-Typefaces/Mohave-SemiBold.otf'); /* IE9 Compat Modes */
    src: url('/Mohave-Typefaces/Mohave-SemiBold.otf?#iefix') format('opentype'), /* IE6-IE8 */
         url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Super Modern Browsers */
         url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'), /* Pretty Modern Browsers */
         url('/Mohave-Typefaces/Mohave-SemiBold.otf')  format('opentype'), /* Safari, Android, iOS */
         url('/Mohave-Typefaces/Mohave-SemiBold.otf') format('opentype'); /* Legacy iOS */
}

html, body {
    width: 100%;
}

body {
    margin: auto;
}

img { 
    max-width: 100%;
}

a {
    font-family: 'Mohave', 'Roboto', sans-serif;
}

.page-title {
   color: White;
   text-align: center;
   font-family: 'Mohave-Bold', 'Roboto', sans-serif;
}

.page-description {
  color: White;
  text-align: center;
  margin: 55px;
  font-family: 'Mohave-Bold', 'Roboto', sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.jumbotron {
  background-image: url("/team/images/other-pic.jpg");
  padding-top: 150px;
  padding-bottom: 150px;
  height: 700px;
  text-align: center;
 /* display:block;
  margin-left:auto;
  margin-right:auto; */
}

.centered-content {
    font-family: 'Mohave-Bold', 'Roboto', sans-serif;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.sponsors {
    text-align: center;
}

.centered-sponsors {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

td:nth-child(3) {
    padding-right: 20px;
}

.presheading {
    padding-top: 50px;
}

.name { 
    font-family: 'Mohave-Bold', 'Roboto', sans-serif;
}

.occupation {
    font-family: 'Mohave-SemiBold', 'Roboto', sans-serif;
}

.caption {
    font-family: 'Roboto', sans-serif;
}

.quote {
    font-family: 'Mohave', 'Roboto', sans-serif;
}

/* Timeline */
@import "compass/css3";

$gray: #dddddd;

h1, h2, h3 {
  font-weight: 300;
}

.container {
  padding: 1em;
}

.timeline {
  position: relative;
  overflow: auto;
  
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background: $gray;
    left: 0;
  }
  
  h2 {
    background: $gray;
    max-width: 6em;
    margin: 0 auto 1em;
    padding: 0.5em;
    text-align: center;
    position: relative;
    clear: both;
  }
  
  ul {
    list-style: none;
    padding: 0 0 0 1em;
    z-index: 1;
  }
  
  li {
    background: $gray;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 1em solid $gray;
      border-left: 1em solid transparent;
      position: absolute;
      left: -1em;
      top: 0;
    }
  }
  
  h3 {
    margin-top: 0;
  }
  
  time {
    font-style: italic;
  }
}

@media screen and (min-width: 40em) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .timeline {
    &:before {
      left: 50%;
    }
    
    ul {
      padding-left: 0;
      max-width: 700px;
      margin: 0 auto;
    }
    
    li {
      width: 42%;
    }
    
    li:nth-child(even) {
      float: right;
      margin-top: 2em;
    }
    
    li:nth-child(odd) {
      float: left;
      
      &:before {
        border-top: 1em solid $gray;
        border-right: 1em solid transparent;
        right: -1em;
        left: auto;
      }
    }
    
    li:nth-of-type(2n+1) {
      clear: both;
    }
  }
}
